@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: 'Lexend Deca', sans-serif;

  /* colors */
  --color-ticketcardx2: #FFEED2;
  --color-ticketcard: #CECECE;
  --font-gray: #8E8E8E;
  --hotel-card-bg: #EBEBEB;
  --selected-hotel-card-bg: #FFEED2;
  --hotel-light-dark: #343434;
  --hotel-strong-dark: #3C3C3C;
  --button-proceed: #E0E0E0;

}

input {
  height: 50px;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  border: none;
}

input:invalid {
  border-color: red;
}
